*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;
}
html{
	width: 100%;
	font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',Arial,sans-serif;
}
body {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
    font-size: 14px;
    position: relative!important;
    top: 0!important;
    transition: all 0.3s;
	opacity: 0;
}
body.show {
    opacity: 1;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: none;
}
a:hover,a:active,a:link{
    color: initial;
}
img{
	display: block;
	/* margin: 0 auto; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, body, cite, dd, dl, dt, h1, h2, h3, h4, h5, h6, iframe, input, li, object, ol, p, pre, span, ul {
    font-family: "Source Sans Pro","Source Han Sans CN","SimHei", "Helvetica Neue", Arial,'PingFang SC',sans-serif;
}
input, textarea, a, div, button, select {
    border: 0;
    outline: 0;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.row{
    display: flex;
	display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
/* 水平两边 垂直靠上 */
.row-between-start{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: flex-start;
}
/* 水平靠后 垂直居中 */
.row-end-center{
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	align-items: center;
}
/* 水平靠前 垂直居中 */
.row-start-center{
	display: flex;
	display: -webkit-flex;
	justify-content: start;
	align-items: center;
}
/* 水平环绕 垂直居中 */
.row-around-center{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
}
/* 水平两边 垂直居中 */
.row-between-center{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}
.col{
    display: flex;
	display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 垂直居中水平靠后  */
.col-center-end{
    display: flex;
	display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
/* 垂直靠上水平居中  */
.col-start-center{
    display: flex;
	display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
	max-width:7.5rem;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.container1{
	max-width:7.5rem;
	height: 100vh;
	overflow-x: hidden;
	margin: 0 auto;
}
.container2{
	max-width:7.5rem;
	height: 100vh;
	margin: 0 auto;
}
.head-bar{
	width: 100%;
	max-width:7.5rem;
	height: 1.22rem;
	position: fixed;
	top: 0;
	z-index: 5;
	padding: 0 0.18rem 0 0.16rem;
	box-sizing: border-box;
	background-color: rgba(256,256,256,0.5);
	border-bottom: 1px solid #FFFFFF;
}
.head-bar .ercode{
	position: absolute;
	height: 2.33rem;
	width: 1.88rem;
	top: 1rem;
	right: 0.47rem;
}
.logo img{
	width: 1.04rem;
	height: 1.04rem;
}
.logo h3{
	margin-left: 0.12rem;
	font-size: 0.3rem;
	color: #371f11;
}
.shareWrap{
	width: 4.1rem;
	position: relative;
}
.shareWrap span{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	background-size: 100% 100%;
	background-position: left top;
	border-radius: 100%;
	overflow: hidden;
}
.shareWrap span a{
	width: 100%;
	height: 100%;
}
.shareWrap span:nth-of-type(1){
	background-image: url(../img/mute-icon.png);
}
.shareWrap span:nth-of-type(2){
	background-image: url(../img/tap-icon.png);
}
.shareWrap span:nth-of-type(3){
	background-image: url(../img/qq-icon.png);
}
.shareWrap span:nth-of-type(4){
	background-image: url(../img/wx-icon.png);
}
.shareWrap span:nth-of-type(5){
	background-image: url(../img/bl-icon.png);
}
.section1{
	width: 100%;
	position: relative;
}
/* 遮罩 */
.Layer.on {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 100;
}
.Layer {
    position: fixed;
    top: -10%;
    left: 50%;
    margin-left: -3.75rem;
    width: 7.5rem;
    height: 120%;
    background: rgba(0,0,0,.8);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/* 弹窗遮罩层 */
.videoLay{
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.60);
}
.videoLay .layContent{
	position: relative;
	width: 100%;
	height: 100%;
}
/* 视频弹窗 */
.videoLay .layContent .close {
	width: 90%;
	height: 0.54rem;
	opacity: 0.8;
	z-index: 1;
	position: relative;
}
.videoLay .layContent .close img{
    width: 0.54rem;
	height: 0.54rem;
	display: block;
	position: absolute;
	right: 0;
}
.videoLay .layContent iframe{
	/* width: 100%;
	height: 100%; */
}
/* 弹窗 */
.pop{
    width: 7.5rem;
	height: 100%;
    /* position: fixed; */
	background: rgba(0, 0, 0, 0.60);
	top: 0;
	left: 50%;
	margin-left: -3.75rem;
    position: absolute;
    z-index: 101;
}
.pop-wrap{
	position: absolute;
	width: 5.97rem;
	padding-bottom: 1rem;
	box-sizing: border-box;
	background: url(../img/pop-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}
.pop .close{
    width: 0.75rem;
    height: 0.72rem;
    display: block;
	/* position: absolute; */
}
.pop .close img{
    width: 100%;
}
.pop-content{
	width: 100%;
	position: relative;
}
.form-wrap{
	position: relative;
	padding: 0 0.9rem;
	font-size: 0;
}
.form-wrap input {
	width: 100%;
	padding: 0.2rem 0;
	line-height: 0.17rem;
    border: 1px solid #9e662d;
    border-radius: 0rem;
    background: none;
    outline: medium;
    padding-left: 0.38rem;
    box-sizing: border-box;
    font-size: 0.22rem;
    color: #3e1f23;
    background-color: #f5f3ee;
}
.form-wrap .err-tip{
	height: 0.3rem;
	line-height: 0.3rem;
	color: #ff0000;
	font-size: 0.18rem;
}
.form-wrap .fy-code{
	flex: 1;
}
.getcode {
    width: 1.72rem;
	text-align: center;
	
	margin-left: 0.13rem;
    height: 0.68rem;
	line-height: 0.68rem;
    border: 1px solid #68554b;
	box-sizing: border-box;
    background-color: #9d6c31;
    color: #FFFFFF;
    font-size: 0.29rem;
    border-radius: 0px;
	white-space: nowrap;
}
.registBtn {
    margin-top: 0.12rem;
}
.registBtn img {
    width: 2.37rem;
    height: 0.85rem;
	margin: 0 auto;
}

/* 输入框 */
input::placeholder{
    color: #bd9c5e;
}
textarea::placeholder{
    color: #bd9c5e;
}
input::-webkit-input-placeholder {
	color: #bd9c5e;
}
/*toast 样式 -移动端*/

.m-tiphtml-box {
    position: fixed;
	z-index: 3;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    border-radius: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transform: translate(-50%);
	font-size: 0;
}

.m-tiphtml-box .tip-box-op0 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
	font-size: 18px;
}

.m-tiphtml-box .tip-box-op1 {
    padding: 0.15rem 0.3rem;
    font-size: 0.26rem;
    color: #FFFFFF;
}
/*toast 样式 -- pc*/
/* 
.m-tiphtml-box {
    position: fixed;
	z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transform: translate(-50%);
	font-size: 0;
}

.m-tiphtml-box .tip-box-op0 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.8;
    z-index: -1;
	font-size: 14px;
}

.m-tiphtml-box .tip-box-op1 {
    padding: 8px 15px;
    font-size: 14px;
    color: #FFFFFF;
	border-radius: 5px;
} */

/* 箭头上下 */

@keyframes flight{
	0% {
	    -webkit-transform: translateY(0px);
	    -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	    -o-transform: translateY(0px);
	    transform: translateY(0px);
	    opacity: 0.2;
	}
	100% {
	    -webkit-transform: translateY(20px);
	    -moz-transform: translateY(20px);
	    -ms-transform: translateY(20px);
	    -o-transform: translateY(20px);
	    transform: translateY(20px);
	    opacity: 0.6;
	}
}
/* 轉圈 */
.rotateCircle{
	animation: rotateCircle 5s infinite linear both;
	-webkit-animation: rotateCircle 5s infinite linear both;
}
@keyframes rotateCircle{
	from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes rotateCircle{
	from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
/* 羽毛飘落 */
.maple{
	position: absolute;
}
.rotate1{
    animation: rotate1 100s 0s linear infinite both;
}
@keyframes rotate1{
    0%{
    	transform: rotate(0deg);
    }
    100%{
    	transform: rotate(3600deg);
    }
}
@keyframes rotate1{
    0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(3600deg);
	}
}
.rotate2{
    animation: rotate2 80s 0s linear infinite both;
}
@keyframes rotate2{
    0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(3600deg);
	}
}
@-webkit-keyframes rotate2 {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(3600deg);
	}
}
.rotate3{
    animation: rotate3 60s 0s linear infinite both;
}
@keyframes rotate3{
    0%{
    	transform: rotate(0deg);
    }
    100%{
    	transform: rotate(3600deg);
    }
}
@-webkit-keyframes rotate3 {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(3600deg);
	}
}
.rotate4{
    animation: rotate4 40s 0s linear infinite both;
}
@keyframes rotate4{
    0%{
    	transform: rotate(0deg);
    }
    100%{
    	transform: rotate(3600deg);
    };
}
@-webkit-keyframes rotate4 {
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(3600deg);
	};
}