/* // 登录注册按钮样式 更改 */
.my-tab .van-tabs__nav--card{
    border: none!important;
}
.my-tab .van-tabs__nav--card{
    border:0px solid transparent;
    margin: 0 1.32rem;
}
.my-tab .van-tabs__nav--card .van-tab{
    font-size: 24px;
    color: #BDC3CE ;
}
.my-tab .van-tabs__nav--card .van-tab.van-tab--active{
    background-color: transparent;
    color: #F13333 ;
}
.my-tab .van-tabs__nav--card .van-tab:first-child{
    border-right: 0;
    position: relative;
}
.my-tab .van-tabs__nav--card .van-tab:first-child:after{
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    height: 100%;
    right: 0;
    bottom: 0;
    border-right: 1px solid #AAB0BB;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}
::-webkit-input-placeholder {
    color: #CCCCCC;
    font-size: 0.3rem;
}

:-moz-placeholder {
    color: #CCCCCC;
    font-size: 0.3rem;
}

::-moz-placeholder {
    color: #CCCCCC;
    font-size: 0.3rem;
}

:-ms-input-placeholder {
    color: #CCCCCC;
    font-size: 0.3rem;
}
